.clientReviews {
  background-color: #161d27;
  padding: 125px 0 140px 0;
}

.clientReviewTitle {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    color: #fff;
    font-size: 45px;
    font-family: "Cormorant Garamond", serif;
    align-items: center;
  }

  & img {
    width: 95px;
  }
}

.reviewsExamples {
  padding: 0 40px;
  max-width: 1440px;
  margin: 60px auto 0;
  gap: 20px;
  display: flex;
}

.reviewContent {
  border-radius: 1px 1px 1px 40px;
  background-color: #2e3947;
  padding: 51px 51px 57px 45px;

  & > p {
    font-size: 20px;
    margin: 33px 0 0 0;
    color: #fff;
    line-height: 45px;
    font-family: "Outfit", serif;
    letter-spacing: 0.4px;
  }
}

.feedBackSender {
  display: flex;
  margin: 20px 0 0 0;

  & p {
    font-family: "Cormorant Garamond", serif;;
    color: #fff;
    margin: 0 0 0 22px;
    font-size: 30px;

    &:last-child {
      font-size: 20px;
    }
  }
}

.feedBackSenderInTop {
  display: flex;
  margin: 0 0 20px 0;

  & p {
    font-family: "Cormorant Garamond", serif;;
    color: #fff;
    margin: 0 0 0 22px;
    font-size: 30px;

    &:last-child {
      font-size: 20px;
    }
  }
}


.reviewContentInBottom {
  border-radius: 40px 1px 1px 1px;
  background-color: #2e3947;
  padding: 51px 51px 57px 45px;

  & > p {
    font-size: 20px;
    margin: 33px 0 0 0;
    color: #fff;
    line-height: 45px;
    font-family: "Outfit", serif;;
    letter-spacing: 0.4px;
  }
}

@media screen and (max-width: 1300px) {

  .reviewReverse {
    display: flex;
    flex-direction: column-reverse;

    & div {
      margin-bottom: 10px;
    }
  }
  .reviewsExamples {
    padding: 0;
    flex-direction: column;


    & img {
      display: none;
    }
  }
  .clientReviews{
    padding: 100px 20px;
  }
}