.mainDescription {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  padding: 0 40px 0;
  margin: 30px auto 0;

  & > p {
    color: #fff;
    max-width: 660px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 400;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
  }
}


.descriptionTitle {
  & > h2 {
    font-size: 45px;
    margin: 0 0 11px 0;
    font-family: "Cormorant Garamond", serif;
    color: #fff;
  }

}

.descriptionText {
  margin: 60px auto 0;
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding: 0 45px;

  & > div {
    max-width: 430px;
    width: 100%;
    height: 350px;
    margin: 0 auto;
    padding: 55px 50px 70px;
    background-color: #1f2732;
  }

  & h2 {
    word-wrap: initial;
    font-family: "Cormorant Garamond", serif;
    font-size: 35px;
    color: #fff;
  }

  & p {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    margin: 0;
    color: #fff;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #4e555f;
  }

  & img {
    display: flex;
    height: 56px;
    width: 100%;
  }
}

.blockButton {
  display: flex;
  justify-content: space-between;
  margin: 38px 0 0 0;

  & button {
    max-width: 187px;
    width: 100%;
    background-color: #161d27;
    color: #fff;
    border: none;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    transition: 0.1s linear;

    &:hover {
      cursor: pointer;
      background-color: rgba(22, 29, 39, 0.8);
    }
  }
}

@media screen and (max-width: 1200px) {
  .mainDescription {
    flex-direction: column;
    margin: 0 auto;
    text-align: center;

    > p {
      margin-top: 10px;
    }
  }

}

@media screen and (max-width: 450px) {
  .descriptionText {
    & > div {
      padding: 10px 15px;
    }

    & h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
}