.historyContent {
  background-color: rgba(31, 39, 50, 0.85);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 80px 60px 70px;

  & h2 {
    margin: 0;
    font-size: 45px;
    color: #fff;
    line-height: 58px;
    font-family: "Cormorant Garamond", serif;
  }
}

.historyDescription {
  max-width: 418px;
  width: 100%;

  & img {
    margin: 11px 0 50px;
  }

  & h5 {
    font-family: "Outfit", serif;
    color: #d1b06b;
    font-size: 20px;
  }

  & h6 {
    font-family: "Outfit", serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin: 13px 0 35px;
  }
}

.historyStats img {
  margin: 11px 0 43px;
}

.historyStatsContent {
  max-width: 382px;
  width: 100%;

  & h5 {
    font-family: "Outfit", serif;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
  }

  & button {
    max-width: 302px;
    width: 100%;
    color: #000;
    height: 85px;
    background-color: #d1b06b;
    font-size: 22px;
    transition: 0.1s linear;
    border: none;

    &:hover {
      cursor: pointer;
      background-color: rgba(209, 176, 107, 0.7);
    }
  }
}

.historyCases {
  font-family: "Outfit", serif;
  position: relative;
  font-size: 20px;
  color: #fff;
  margin: 39px 0 50px;

  & div {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 0 30px;
    justify-content: space-between;

  }

  > div::after {
    content: "";
    position: absolute;
    margin: 42px 0 0 0;
    max-width: 383px;
    width: 100%;
    display: flex;
    height: 5px;
  }
}

.divorceCase:after {
  background: linear-gradient(to right, #d1b06b 75%, #fff 25%);
}

.propertyCase:after {
  background: linear-gradient(to right, #d1b06b 80%, #fff 20%);
}

.bankingCases:after {
  background: linear-gradient(to right, #d1b06b 75%, #fff 25%);
}

.accidentCases:after {
  background: linear-gradient(to right, #d1b06b 90%, #fff 10%);
}

@media screen and (max-width: 1300px) {
  .historyContent {
    padding: 30px 20px;
    background-color: #0b0f10;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }
  .historyImage {
    display: none;
  }
}